<!DOCTYPE html>
<html>
<title>GMA Dream Team</title>
<meta name="viewport" content="width=device-width" initial-scale="1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
	body, html {
	    height: 100%;
	    color: #777;
	    line-height: 1.8;
	}
	textarea{
		width:100%;
	}
/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;
}

/* image (Logo. Full height) */
.bgimg-1 {
   background-image:url('/Users/jasmeherkathuria/Desktop/Jasmeher/DT.jpg'); /* TODO: Background image here */

    min-height: 100%;
	min-width:100%;
}
#tour{
	min-width:100%;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1 {
        background-attachment: scroll;
    }
}
#ticketModal{
	min-width:100%;
}
#comment{
	    -webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box;
	}
	#home{

	}
	div.a{
	font-size:large;
	}
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="/about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span class="w3-hide-small">THE </span>DREAM TEAM</span>
  </div>
</div>
<!-- Container
  <div class="w3-container" style="max-width:800px" id="band">
      <div class = "row">
        <div class="col lg-4 w3-padding-16">
            <img src="/Users/jasmeherkathuria/Downloads/DT.jpg" width = "500" height = "333">
      </div>
      <div class = "col lg-8 w3-padding-16">
    <p class="w3-justify"></p>
  </div>
    </div>
    </div>
-->
<!-- Container (Contact Section) -->
  <div class="w3-black" id="tour">
     <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Keep Us Informed</h2>
      <p class="w3-opacity w3-center"><i>Let us know...</i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <div class = "a"><b>Ideas</b></div>
            <p class="w3-opacity">Ideas which you want to be implemented in the school.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Inform Us</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <div class = "a"><b>Problems</b></div>
            <p class="w3-opacity">Problems that you face in school which should be rectified.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Inform Us</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <div class="a"><b>Suggestions</b></div>
            <p class="w3-opacity"> Provide us with the necessary feedback to help us improve.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Inform Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  <!-- response form -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('ticketModal').style.display='none'"
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="w3-margin-right"></i>Response form</h2>
      </header>
      <div class="w3-container">
		  <form action="/store" method="post">
        <p><label>Name</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Full Name" name="name">
        <p><label>Class and Section</label></p>
          <input class="w3-input w3-border" type="text" placeholder="Enter Class and Section" name= "class">
        <p><label>Email Address</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email" namd = "email">
          <p><label>Idea/Problem/Suggestion</label></p>
         <textarea name="comment" rows="5" placeholder ="Type your response here" name = "response"></textarea>
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" input type = "submit" value = "Submit">Submit</button>
		</form>
      </div>
    </div>
  </div>

<script>
// Used to toggle the menu on small screens
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<style>
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    </style>
</body>
</html>
